[user]
	name = Charles Blancas
	email = 86479293+charlesblancas@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = nvim
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
    tool = default-difftool

