[user]
	name = Charles Spencer Blancas
	email = 86479293+Charles-Spencer-Blancas@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[core]
	editor = code --wait
[url "git@github.com:"]
	insteadOf = https://github.com/
